table, tr, th, td, thead,tbody, tfoot{
	border-width: 2px;
	border-color: blue;
	border-style: double;
}

form{

	background-color: gray;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;


	width: 250px;

	border-width: 2px;
	border-color: blue;
	border-style: double;
	border-radius: 5%;

	box-shadow: 3px 3px 7px;
}

input,textarea, button, select{

border-radius: 10%;
	border-width: 2px;
	border-color: blue;
	border-style: double;
	margin-bottom: 10px;
	background-color: turquoise;


}
label{
	margin-top: 10px;
color: ghostwhite;
}

