

form, h1, h3{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

select{
	margin-bottom: 10px;
}

.checkboxesradio{
	 
	align-items: center;
	justify-content: center;
	direction: column;
	margin-bottom: 10px;

	}

#table{

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;

}




/**{
	position: relative;
}*/